.header{
	border-style: solid;
	border-color: rgb(0, 136, 204);
	border-bottom-width: 4px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
}

.header h1{
	text-align: left;
}

.footer{
	clear: both;
	margin-top: 5px;
	border-style: solid;
	border-color: rgb(0, 136, 204);
	border-bottom-width: 0;
	border-top-width: 4px;
	border-right-width: 0;
	border-left-width: 0;
}

.title{
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style: solid;
	background-color: rgb(225,227,225);
	border-color: rgb(195, 195, 195);
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-radius: 7px;
	text-align: center;
}

.project{
	border-radius: 5px;
}

.project:hover{
	background-color: rgb(238,238,239);
}

.members{
	text-align: justify;
}

.membersTitle{
	margin-top: 30px;
	margin-bottom: 5px;
	border-style: solid;
	background-color: rgb(225,227,225);
	border-color: rgb(195, 195, 195);
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-radius: 7px;
	text-align: center;
}

#exMembersTitle {
	margin-top: 30px;
	margin-bottom: 20px;
}

#exMembers {
	margin-bottom: 20px;
}

#pubContent{
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
}

body{
	background-color: rgb(248,248,248);
}